


body {
  background-image: linear-gradient(to right, #b4b4b8, #c7c8cc, #c7c8cc, #f2efe5, whitesmoke);
  margin: 0;
  padding: 0;
}


section{
  margin-block: 90px;
  border: 5px solid rgb(216, 216, 216);
  border-radius: 50px;
  margin-block: 10px;
  margin-left:  10px;
margin-right:   10px;
  box-shadow: -10px -10px 20px #888888 inset;
    box-shadow: 10px 10px 10px #ffffff inset;
      box-shadow: -15px -15px 20px #888888 ;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
article{
display: flex;
flex-direction: row;

font-size: 40px;


border: 4px solid rgb(216, 216, 216);
  border-radius: 50px;
text-align: center;
margin-bottom:10PX ;
height: 400PX;
width: 900px;

}




h4{
  font-style:  italic;
    background: linear-gradient(to left, #197209, #bec558);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-shadow: rgba(0, 0, 0, 0) 2px 2px;
  text-align: center;
  font-family:serif;

}



a{
  text-decoration: none;
  background: linear-gradient(to  bottom, #7DF9FF,  navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;




}

a:hover{
    transform: translatey(-10px);
}
.a1{
text-decoration:transparent;

}



.l1{
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;
margin-right:50%;
box-shadow: -10px -10px 10px #888888;
}


.l2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 50%;
  box-shadow: -10px -10px 10px #888888;
}



.l3{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right:50%;
  box-shadow: -10px -10px 10px #888888;
}




.l4{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
    margin-left: 50%;
    box-shadow: -10px -10px 10px #888888;
}



.l5{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right:50%;
  box-shadow: -10px -10px 10px #888888;
}

































